<div id="app" class="row"></div>

@section scripts{
    <script src="../Scripts/vue/index.js" type="module"></script>
    <link rel="modulepreload" href="../Scripts/vue/components/App.js">
    @*<link rel="modulepreload" href="../Scripts/vue/components/BaseButton.js">*@
}
